.logo{
    border-radius: 12px;
    background: linear-gradient(rgb(161, 154, 154));
    color: rgb(10, 9, 9);
    height: 50px;
}
.body{
    display: flex;
}

.hmm{
    margin-left: 70%;
    color: black;

}
.nav-link{
      color: blue;
}
.bye{
    border-radius: 12px;
    background: linear-gradient(black);
    color: white;
}
.bya{
       border-radius: 12px;
    background: linear-gradient(black);
    color: white;
}
.byi{
       border-radius: 12px;
    background: linear-gradient(black);
    color: white;
    margin-right: -40px;
}
.sufiyan{
   position: absolute;

}
.top{
    background:linear-gradient(gray)!important;
}
.two{
    width: 420px !important;
    border-radius: 12px;
    background-color: rgb(68, 72, 73);
    color: white;
    font-size: large;
}
.three{
    height: 40px;
}
.cord1{
position: absolute;
margin-left: 10%;
top:110%;
border-radius: 20px;
}
.imag{
    position: relative;
    height: 100%;
}
.taha{
    display:flex;
    align-item:center;
    flex-direction:column;
}
.box-img1{
    border-radius: 20px;
}
.cord2{
position: absolute;
margin-left: 40%;
top: 120%;
border-radius: 20px;
}
.box-img2{
    border-radius: 20px;
}
.cord3{
position: absolute;
margin-left: 70%;
top: 130%;
border-radius: 20px;
}
.box-img3{
    border-radius: 20px;
    
}
nav{
    width: 100%;
}
@media screen and ( max-width:700px){
    .hood{
      width: 115%;
    }
    .heed{
        width: 100%;
    }
 
 
    
}

